<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catv.p2p.base.mapper.LoginInfoMapper">

    <resultMap id="baseResultMap" type="com.catv.p2p.base.domain.LoginInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
        <result column="userType" property="userType" jdbcType="TINYINT"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into `logininfo` (username, password, state,userType)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT},#{userType})
  </insert>

    <update id="updateByPrimaryKey">
    update `logininfo`
    set username = #{username,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        state = #{state,jdbcType=TINYINT},
        userType = #{userType}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <sql id="base_column">
  	id, username, password, state, userType
  </sql>

    <select id="selectByPrimaryKey" resultMap="baseResultMap">
        select
        <include refid="base_column"/>
        from `logininfo`
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="baseResultMap">
        select
        <include refid="base_column"/>
        from `logininfo`
    </select>

    <select id="getCountByUsername" resultType="int">
  	SELECT count(id) FROM logininfo WHERE username = #{username}
    </select>

    <select id="login" resultMap="baseResultMap">
        SELECT
        <include refid="base_column"/>
        FROM logininfo
        WHERE username = #{username} AND password = #{password} AND userType= #{userType}
    </select>

    <select id="countByUserType" resultType="int">
    SELECT count(id) FROM logininfo WHERE userType = #{userType}
    </select>
    <select id="getByLogin" resultMap="baseResultMap">
        SELECT
        <include refid="base_column"/>
        FROM logininfo
        WHERE username = #{username} AND password = #{password} and userType= #{userType}
    </select>
    <select id="getByUserType" resultType="java.lang.Integer">
        SELECT count(id)
        FROM logininfo
        WHERE userType = #{userType}
    </select>
</mapper>