<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catv.p2p.base.mapper.RealAuthMapper">
    <resultMap id="BaseResultMap" type="com.catv.p2p.base.domain.RealAuth">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="realName" property="realName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="bornDate" property="bornDate" jdbcType="VARCHAR"/>
        <result column="idNumber" property="idNumber" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
        <result column="image1" property="image1" jdbcType="VARCHAR"/>
        <result column="image2" property="image2" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="auditTime" property="auditTime" jdbcType="TIMESTAMP"/>
        <result column="applyTime" property="applyTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="fullResultMap" type="RealAuth" extends="BaseResultMap">
        <association property="applier" javaType="LoginInfo" columnPrefix="ap_">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
        </association>
        <association property="auditor" javaType="LoginInfo" columnPrefix="au_">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
        </association>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `realauth`
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.catv.p2p.base.domain.RealAuth" useGeneratedKeys="true" keyProperty="id">
    insert into `realauth` (realName, sex, bornDate, 
      idNumber, address, state, 
      image1, image2, remark, 
      auditTime, applyTime, auditor_id, 
      applier_id)
    values (#{realName,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{bornDate,jdbcType=VARCHAR}, 
      #{idNumber,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, 
      #{image1,jdbcType=VARCHAR}, #{image2,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{applyTime,jdbcType=TIMESTAMP}, #{auditor.id,jdbcType=BIGINT}, 
      #{applier.id,jdbcType=BIGINT})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.catv.p2p.base.domain.RealAuth">
    update `realauth`
    set realName = #{realName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      bornDate = #{bornDate,jdbcType=VARCHAR},
      idNumber = #{idNumber,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      image1 = #{image1,jdbcType=VARCHAR},
      image2 = #{image2,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      auditTime = #{auditTime,jdbcType=TIMESTAMP},
      applyTime = #{applyTime,jdbcType=TIMESTAMP},
      auditor_id = #{auditor.id,jdbcType=BIGINT},
      applier_id = #{applier.id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" resultMap="fullResultMap" parameterType="java.lang.Long">
    select <include refid="base_column"/>
    from `realauth` as r left join logininfo au on r.auditor_id = au.id left join logininfo ap on r.applier_id = ap.id
    where r.id = #{id,jdbcType=BIGINT}
  </select>

    <sql id="base_column">
        r.id, r.realName, r.sex, r.bornDate, r.idNumber, r.address, r.state, r.image1, r.image2, r.remark,
    r.auditTime, r.applyTime, au.id as au_id,au.username as au_username, ap.id as ap_id,ap.username as ap_username
    </sql>

    <select id="selectAll" resultMap="fullResultMap">
        select
        <include refid="base_column"/>
        from `realauth` as r left join logininfo au on r.auditor_id = au.id left join logininfo ap on r.applier_id = ap.id
    </select>

    <sql id="where">
        <where>
            <if test="beginTime != null">
                AND r.applyTime &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                AND r.applyTime &lt;= #{endTime}
            </if>
            <if test="state > -1">
                and r.state = #{state}
            </if>
        </where>
    </sql>

    <select id="queryCount" resultType="integer">
      select count(r.id)
      from `realauth` as r
      <include refid="where"/>
    </select>

    <select id="queryList" resultMap="fullResultMap">
        select <include refid="base_column"/>
        from realauth as r left join logininfo as au on r.auditor_id = au.id left join logininfo as ap on r.applier_id = ap.id
        <include refid="where"/>
        limit #{start},#{pageSize}
    </select>
</mapper>