<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catv.p2p.business.mapper.BidMapper" >

  <resultMap id="BaseResultMap" type="com.catv.p2p.business.domain.Bid" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="actualRate" property="actualRate" jdbcType="DECIMAL" />
    <result column="availableAmount" property="availableAmount" jdbcType="DECIMAL" />
    <result column="bidRequest_id" property="bidRequestId" jdbcType="BIGINT" />
    <result column="bidTime" property="bidTime" jdbcType="TIMESTAMP" />
    <result column="bidRequestTitle" property="bidRequestTitle" jdbcType="VARCHAR" />
    
    <association property="bidUser" javaType="LoginInfo" columnPrefix="l_">
    	<id column="id" property="id"/>
    	<result column="username" property="username"/>
    </association>
  </resultMap>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into `bid` (actualRate, availableAmount, bidRequest_id, 
      bidUser_id, bidTime, bidRequestTitle)
    values (#{actualRate,jdbcType=DECIMAL}, #{availableAmount,jdbcType=DECIMAL}, #{bidRequestId,jdbcType=BIGINT}, 
      #{bidUser.id,jdbcType=BIGINT}, #{bidTime,jdbcType=TIMESTAMP}, #{bidRequestTitle,jdbcType=VARCHAR})
  </insert>
  
  <sql id="base_column">
  	b.id, b.actualRate, b.availableAmount, b.bidRequest_id, b.bidTime, b.bidRequestTitle,
           l.id as l_id,l.username as l_username
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select <include refid="base_column" />
    from `bid` b join logininfo l on b.bidUser_id = l.id
    where b.id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByBidRequest" resultMap="BaseResultMap">
  	SELECT <include refid="base_column"/>
  	FROM `bid` b join logininfo l on b.bidUser_id = l.id
  	WHERE bidRequest_id = #{bidrequestid}
  </select>
  
</mapper>